h1 {
    text-align: center;
    font-size: 40px;
    
  }

body {
    text-align: center;
    min-height: 100vh;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

title {
    width:300px;   
}

input[type=text]:focus{
    outline: 2px solid #1295ff;   
}

input[type=email]:focus{
    outline: 2px solid #1295ff;    
}

textarea[type=textarea]:focus{
    outline: 2px solid #1295ff;    
}


#setBorder{
    font-size: 24;
    width: 30%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: vertical;
}

textarea{
    resize: none;
    width: 30%;
    height: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing:border-box;
    margin-bottom:15px;
}

#submitButton {
    margin: 10px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    margin-bottom: 10px;
}


.navBar{
    list-style:none;
    padding:0;
    text-align:center;
    
}

.navBar li{
    display:inline;
}
.navBar a{
    display:inline-block;
    padding:10px;
    color:#111;
    font-family: 'Luckiest Guy', cursive;
}

.navBar a:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.4);
}