h1 {
    text-align: center;
  }

body {
    text-align: center;
}

title {
    width:300px;   
}


input[type=text]:focus{
    outline: 2px solid #1295ff;   
}

input[type=email]:focus{
    outline: 2px solid #1295ff;    
}

textarea[type=textarea]:focus{
    outline: 2px solid #1295ff;    
}


#setBorder{
    font-size: 24;
    width: 50%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: vertical;
}

textarea{
    resize: none;
    width: 50%;
    height: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing:border-box;
    margin-bottom:15px;
}

#submitButton {
    margin: 10px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
}
