*

/*
{
    margin:0;
    padding:0
}

body
{
    background-color: #efefef;
    font-family: sans-serif;
}

.contact-box
{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

}

form
{
    margin: 35px;

}

.input-field
{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}

.textarea-field
{
    height: 150px;
    padding-top: 10px;
}

.btn
{
    border-radius: 20px;
    color: #fff;
    margin-top: 10px;
    padding:10px;
    background-color: #47c35a;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.boxRight
{
    display: in;
}

*/



.teaser-right {
	float: right;
	width: 150%;
    margin: 3% 0 0 0
    
}

#calltoaction-form {
	background: #f2f2f2;
	padding-bottom: 20px;
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    outline: none;
    border-radius: 14px;

}
    

.form-section {
  display: inline-block;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  
}

.btn
{
    display: inline-block;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.textarea-field
{
    display: inline-block;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 150px;
}

body {
    text-align: center;
}