body {
margin: 0;
padding: 0;
border-bottom: black;
}

.login{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;

}

.btn{
  width: 44%;
  border:2px solid;
  background-color: green;
  color: white;
  padding: 5px;
  display: inline-block;

}


.lineA{
  width: 110px;
  height: 0;
  border: 1px solid #C4C4C4;
  margin: 3px;
  display:inline-block;
  margin-bottom: 5px;
}