body{
  min-height: 100vh;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.cSent{
  text-align: center;
  margin-top: 20px;
}

.dbody{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 500px;
    background-color: #f5f6fa;
    border: 2px solid #000000;
    transform: translate(-50%, -50%); 
}

h1{
    text-align: center;
    border-inline: 2px black;
}

#testinput{
    margin-bottom: 20px;
    display: block;
    padding: 5px;
    width: 100%;
    border-radius: 5px;

}

input[type=email]:focus{
  outline: none;  
  box-shadow: 0px 0px 10px #000;
 

}

input[type=password]:focus{
  outline: none;   
  box-shadow: 0px 0px 10px #000;

}

.btnCen{
  text-align: center;
  margin-top: 20px;
}

.btn{
  width: 45%;
  padding: 5px;
  border-radius: 5px;
  color: white;
  display: inline-block;
  background-color:blue;
  border:1px solid black;
  cursor: pointer;
}

.btn:focus {
  outline: 0 !important;
  box-shadow: 0px 0px 10px #000;

}


.lineA{
  width: 100px;
  border: 1px solid #000;
  margin-top: 20px;
  display:inline-block;
  margin-bottom: 5px;
}

.lineB{
  width: 100px;
  border: 1px solid #000;
  display:inline-block;
  margin-bottom: 5px;
}

.g-signin2 > div{
  transform: translate(50%, 30%); 
  margin-bottom: 20px;
}

.gDiv{
  margin-top: 10px;
}