@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Luckiest+Guy&family=Ropa+Sans&display=swap');
.mapWrapper{
    transform: scale(.65);
    padding-top: 0%;
    margin-top:-12.5%;
    
}
g :hover{
    fill:blue;
}
ul{
    list-style:none;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}
nav #top{
    position: absolute;
    left: 2%;
}
nav ul{
    display:flex;
    margin:0%;
    padding:0%;
}
nav ul li a{
    display:flex;
    color:#111;
    margin: 12px;
    font-family: 'Luckiest Guy', cursive;
}
nav ul li a:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

body{
    background-image:url("/static/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.welcome{
    font-size: 7em;
    padding-left: 10%;
    padding-top: 5%;
    font-family: 'Indie Flower', cursive;
}

body h2{
    padding-left: 10%;
    font-family: 'Ropa Sans', sans-serif;
}
.search_box{
    width:50%;
    position: relative;
    top: 30px;
    left: 23%;
}
.search_box input[type="text"]{
     width: 100%;
     padding: 20px;
     padding-right: 60px;
     background: rgba(0,0,0,0.3);
     border: 2px solid #fff;
     border-radius: 10px;
     font-size: 18px;
     color: #fff;
     outline: none;
}

::-webkit-inputplaceholder{
    color: #fff;
}
::-moz-placeholder{
    color:#fff;
}
::-ms-input-placeholder{
    color: #fff; 
}
.fa-search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    font-size: 25px; 
    right: -70px;
}