@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Luckiest+Guy&family=Ropa+Sans&display=swap');
.mapContainer{
    border-style:solid;
    border-width: 2px;
    border-color:whitesmoke;
    height: 570px;
    background-color:aliceblue
}
.mapWrapper{
    transform: scale(.65);
    padding-top: 0%;
    margin-top:-12.5%;
    
}
#home-wrapper{
    position:absolute;
    z-index:7;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    background-color:white;
    top:7%;
    height:540px;
    right: 5%;
    left: 5%;
}
#illustration{
    position: absolute;
    height:480px;
    left:48%;
    bottom: 5%;
}
g :hover{
    fill:blue;
}
ul{
    list-style:none;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    margin-top: 2%;
    margin-bottom: 2%;
}
nav a #top{
    position:absolute;
    left:1%;
    margin-top: -3.8%;  
}
nav #filler{
    position:absolute;
    left:80%;
}
nav form{
    position:absolute;
    left:80%;
}
nav ul{
    display:flex;
    justify-content: center;
    position:absolute;
    left:37%;
    padding:0%;
    text-align:center;
}
nav ul li a{
    display:flex;
    color:#111;
    margin: 12px;
    font-family: 'Luckiest Guy', cursive;
}
nav ul li a:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.4);
}

body{
    /*background-image:url("/static/background.jpg");*/
    /*background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);*/
    background-color: #dbcbd8;
    background-image: linear-gradient(316deg, #dbcbd8 0%, #2e4057 74%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.welcome{
    font-size: 7em;
    padding-left: 10%;
    padding-top: 5%;
    font-family: 'Indie Flower', cursive;
}

body h2{
    padding-left: 10%;
    transform: translate(5%, -300%);
    font-family: 'Ropa Sans', sans-serif;
}

#myData{
    margin: auto;
    width: 50%;
    padding-top: 40px;
    display: block;
    text-align: center;
    margin-top: 50px;
}

.search_box{
    position: absolute;
    left: 50%;
    top: auto;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search_box:hover > .search_text{
    width: 240px;
    padding: 0 6px;
}
.search_box:hover > .search_button{
    background:#f8f9fb;
    color: #2f3640;
}
.search_button{
    color: #ffffff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_text{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color:white;
    font-size:16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
#search-other{
    display:flex;
}
#search{
    height:10px;
    margin-top: 3px;
}
.btn-grad {background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%)}
.btn-grad {
   margin: 2px;
   padding: auto;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }