.mapWrapper{
    transform: scale(.65);
    padding-top: 0%;
    margin-top:-12.5%;
    
}
g :hover{
    fill:blue;
}
ul{
    list-style:none;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 20px rgba(90,118,253,0.13);
    z-index: 1;
}
nav #top{
    position: absolute;
    left: 10%;
}
nav ul{
    display:flex;
    margin:0%;
    padding:0%;
}
nav ul li a{
    display:flex;
    color:#111;
    margin: 12px;
}
nav ul li a:hover{
    background-color: #7184f0;
    color:#fff;
    transition: all ease 0.2s;
}
.container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.hero{
    height: 100%;
    width: 100%;
    background: url("/static/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.hero-content {
    padding-top: em(70);
    text-align: center;
}

.hero-content h1{
    font-size: 4em;
    margin-bottom: .5em;
    margin-top: 0em;
}

.hero-content p{
    margin: auto;
    margin-bottom: 3em;
    font-weight: 200;
    line-height: 1.4em;
}