@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Luckiest+Guy&family=Ropa+Sans&display=swap');
.mapWrapper{
    transform: scale(.65);
    padding-top: 0%;
    margin-top:-12.5%;
    
}
g :hover{
    fill:blue;
}
ul{
    list-style:none;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}
nav #top{
    position: absolute;
    left: 2%;
}
nav ul{
    display:flex;
    margin:0%;
    padding:0%;
}
nav ul li a{
    display:flex;
    color:#111;
    margin: 12px;
    font-family: 'Luckiest Guy', cursive;
}
nav ul li a:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

body{
    background-image:url("/static/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.welcome{
    font-size: 7em;
    padding-left: 10%;
    padding-top: 5%;
    font-family: 'Indie Flower', cursive;
}

body h2{
    padding-left: 10%;
    font-family: 'Ropa Sans', sans-serif;
}
 
.search_box{
    position: absolute;
    left: 50%;
    top: 500px;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search_box:hover > .search_text{
    width: 240px;
    padding: 0 6px;
}
.search_box:hover > .search_button{
    background:#f8f9fb;
    color: #2f3640;
}
.search_button{
    color: #ffffff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_text{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color:white;
    font-size:16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}