.mapWrapper{
    transform: scale(.65);
    padding-top: 0%;
    margin-top:-12.5%;
    
}
g :hover{
    fill:blue;
}
ul{
    list-style:none;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}
nav #top{
    position: absolute;
    left: 2%;
}
nav ul{
    display:flex;
    margin:0%;
    padding:0%;
}
nav ul li a{
    display:flex;
    color:#111;
    margin: 12px;
}
nav ul li a:hover{
    background-color: #7184f0;
    color:#fff;
    transition: all ease 0.2s;
}

nav form{
    position:absolute;
    right:0;    
}

body{
    background-image:url("/static/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.welcome{
    font-size: 4em;
    margin-top:.3%;
    margin-bottom: .5em;
    text-align: center;
}

body p{
    margin: auto;
    margin-bottom: 3em;
    font-weight: 200;
    line-height: 1.4em;
    text-align: center;
}