<!Doctype html>
<html lang='en'>
    
<!--Client ID
          <link rel="stylesheet" href="about.css">
-->



<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>About Us</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/about.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body>
    <a href="/"><img src="/static/logo.png" id="top" width="100"></a>
    <ul class="navBar">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/login">Sign in</a></li>
        <li><a href="/map">Map</a></li>
    </ul>

  <h1 style="text-decoration: underline;">About Us</h1> 
  <h2>The Project</h2>
  AtmoDust is a senior design project done by 3 UNCC Undergraduates in The College of Computing and Informatics. <br>
  Our goal was to make a website that enables users to check air quality from their nearest air sampling location.<br>
  We use a free public API provided by the EPA to deliever air quality information to users in an informative and easy to understand way.
  <h2>Students</h2>
  Jay Strahler, 
  Vue Vang, 
  JaeSeong Yun
  <h2>Acknowledgements</h2>
  We would like to thank the EPA for providing the information publically and free.<br>
  A special thanks goes to UNCC and the College of Computing and Informatics.
  <h1 style="text-decoration: underline;">Contact Us</h1>


<form>

  <div>
    <input id="setBorder" name="fname"  type="text" placeholder="First Name"/><br>
    <input id="setBorder" name="lname"  type="text" placeholder="Last Name"/><br>
    <input id="setBorder" name="email"  type="email" placeholder="Email"/><br>
    <textarea id="messageBox" name="messageBox" type="textarea" placeholder="Type Message Here"></textarea><br>
    <input id="submitButton" type="submit" value="Submit">

  </div>

</form>


</body>


</html>