<!Doctype html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://kit.fontawesome.com/ef6f3d99fc.js" crossorigin="anonymous"></script>
    <title>Home</title>

    
</head>

<body>
    <nav>
        <!--logo here-->
        <a href="/"><img src="/static/logo.png" id="top" width="100"></a>
        <!--menu here-->
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/login">Sign in</a></li>
            <li><a href="/map">Map</a></li>
        </ul>
        <div id="filler"></div>
    </nav>
    <h1 class="welcome"> AtmoDust</h1>
    <h2>SOME DESCRIPTION OF OUR SITE</h2>

    <form action="/map" method="POST">
        <div class="search_box">        
                <input class="search_text" type="text" name="search" id="search" placeholder="Which state do you live in?"></input>
                <button type="submit" formmethod="post" class="search_button" href='/chart'>
                    <i class="fas fa-search"></i>   
        </div>
    </form>

</body>

</html>
