<!Doctype html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="hero">
            <div class="hero-content">
                <h1>Welcome to AtmoDust</h1>
                <p>Our site is all about testing change 123</p>
            </div>
        </div>
    </div>
</body>
</html>