<!Doctype html>
<html lang='en'>

<!--Client ID
        <link rel="stylesheet" href="about.css">

-->
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/about.css') }}">

</head>
        
    <body>
    <a href="/"><img src="/static/logo.png" id="top" width="100"></a>
    <ul class="navBar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/login">Sign in</a></li>
        <li><a href="/map">Map</a></li>
    </ul>
        
    <h1>Thank you for your submission.</h1> 
    </form>
    </body>
        
    </html>